@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto&display=swap');

body {
    background: #192F2D;
    width: 100%;

}

.toys {
    position: absolute;
    top: 0px;
    left: 0px;

}



.container-for-second-page {
    position: absolute;
    top: 50px;
    left: 100px;

    width: auto;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 446px minmax(1200px, auto);
    column-gap: 10px; 
}


.container-for-forms {
    background: #192F2D;;
    display: flex;
    flex-direction: column;  
    row-gap: 28px;
    color:#FFFFFF;
}



.filter-box {
    
    display: flex;
    gap: 44px;
    padding: 10px;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    background: #192F2D;
}

.music-button {
    display: block; 
    background: #192F2D;  
}

 .search-box{
    position: relative;
        display: flex;
        
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        width: 254px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 30px;
    }

.input-text_toy-search {
    display: block;
    height: 20px;
    margin-left: 20px;
    border: none;
    background: #192F2D;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.search-box_loupe {    
    display: block;
    width: 17.49px;
    height: 17.49px;
}




.sort-block {
    display: flex;
    column-gap: 24px; 

    
}

.sort-block_text {
    display: block;
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 20px;
    line-height: 22.03px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sort-block_dropdown-button,
 .reset-button__filter-button, .reset-button__settings-button {
    width: 178px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 30px;  
    background: #192F2D;
}
.sort-block_dropdown-button-arrow {
    display:block;
    margin: auto 7% auto auto;
}




.class-all-box {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    
}

.class-all-box_text {
    font-family: "Neucha";
font-weight: 400;
font-size: 20px;
line-height: 22.03px;
 }

.class-all-box_checkbox-button {
    width: 14px;
    height: 12.5px;
    
}
.class-all-box_checkbox-text {
    font-style: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
   

}




.toys-form-choise-box {
     color: #FFFFFF;
     display: flex;
     flex-direction: column;
     align-content: flex-start;
     
     row-gap: 24px;
}

.toys-form-choise-box__form-text {
    font-style: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
   
}

.toys-form-choise-box__toys-form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: flex-start;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
     }

.toys-form-choise-box__toys-form {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    align-content: space-around;
    align-items: center;
}

.toys-form-choise-box__toys-form_bell {
    width: 31.5px;
height: 42px;
}

.toys-form-choise-box__toys-form_ball {
    width: 27.24px;
    height: 42px;
}

.toys-form-choise-box__toys-form_pine {
width: 36.87px;
height: 41.54px;
}

.toys-form-choise-box__toys-form_star {
    width: 41.86px;
    height: 40.38px;
}

.toys-form-choise-box__toys-form_snowflake {
    width: 37.48px;
    height: 42px;
}

toys-form-choise-box__toys-form_bird-toy  {
    width: 41.82px;
    height: 42px;
}



.input-range {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    row-gap: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;

}

.input__toy-number-range, .input__year-of-production {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.color-checkbox-block {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    row-gap: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.color-checkbox-block__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 25.2px;
}

.color-checkbox-block__box_white, .color-checkbox-block__box_yellow, .color-checkbox-block__box_red, 
.color-checkbox-block__box_blue, .color-checkbox-block__box_green {
    width: 24.8px;
    height: 24.8px;
}

.color-checkbox-block__box_white {
    background: #FFFFFF;
}

.color-checkbox-block__box_yellow {
    background: yellow;
    
}

.color-checkbox-block__box_red {
    background: red;
}
.color-checkbox-block__box_blue {
    background: blue;
}

.color-checkbox-block__box_green {
    background: green;
}


.input-size {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}

.input-size__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline; 
    column-gap: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;

}




.input-checkbox-only-favorite-ones {
    display: flex;
    flex-direction: row;
    align-content: flex-start;    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}



.reset-button {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    
}

.reset-button__filter-button, .reset-button__settings-button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    color: #FFFFFF;
}






.container-for-toys-and-text {
    background: pink;
    display: grid;
    grid-template-rows: 78px 852px;
    width: auto;
}

.container-for-toys-and-text__text-toys {
    height: 78px;
    color: white;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;


}


.flex-container-for-toy-cards {
    background: #192F2D;
    height: 852px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;



}

.flex-container-for-toy-cards__toy-card {
    width: 222px;
    height: 342px;

    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    backdrop-filter: blur(2px);

    /* Note: backdrop-filter has minimal browser support */
    border: 0.1px solid snow;
    border-radius: 10px;
    margin-top: 15px;
}

.toy-card {
    display: block;
    font-family: 'Steppe';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* white */
    color: #FFFFFF;
    position: absolute;
    left: 16px;

}

.toy-card_name {
    display: block;
    position: absolute;
    left: 16px;
    top: 18px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.toy-card_count {
    position: absolute;
    top: 191px;    
}

.toy-card_year {
    position: absolute;
    top: 215px;    
}

.toy-card_shape {
    position: absolute;
    top: 239px;    
}

.toy-card_color {
    position: absolute;
    top: 263px;    
}

.toy-card_size {
    position: absolute;
    top: 287px;    
}

.toy-card_do-like {
    position: absolute;
    top: 311px;    
}






.footer__second-page {
    background: blueviolet;
    width: 1920px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 980px;
}